.headingg{
    height: 10%;
    width: 40%;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 150%;
    font-weight: 600;
}
.subheadingg{
    height: 10%;
    width: 40%;
    margin-left: 42%;
    font-size: 350%;
    font-weight: 600;
}